body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background: black;
  color: white;
  padding-bottom: 20px;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

#street {

  background: gray;
  display: inline-block;
  width: 500px;
  height: 500px;
}

.eg {
  padding: 20px;
  margin: 10px;
}

#examples {
  background: black;
}

.instructions {
  font-style: italic;
  font-size: small;
}

#options {
  padding: 10px;

}