body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#street {
  border: 3px solid red;
  display: inline-block;
  width: 500px;
  height: 500px;
}

.eg {
  padding-left: 20px;
  margin-left: 20px;

}